.root {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 760px;
    height: 100vh;
    width: 100%;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

.form > button {
    width: 128px;
}

.main {
    max-width: 480px;
    width: 100%;
    height: 480px; 
}

.register, .forgot_password{
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    color: #4C4CFF;
    text-decoration: none;
}